{% load static %}
<!-- Navbar -->
{% include "navbar/navbar1.html" %}
.
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>My page</title>
  	<link rel="stylesheet" href="{% static 'font.css' %}">
   <link rel="stylesheet" href="{% static 'mypage.css' %}">
	  <script src="https://kit.fontawesome.com/e8d8cefab4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="bookcover">
      <div class="bookdot">
        <div class="page">

                    <!-- 왼쪽 프로필 페이지 구성요소 -->
                    {% include "mypage/profile.html" %}


          <div class="content-container">
                            <!-- 오른쪽 페이지 상단 글씨  -->
            <div class="header content-title">
              <div class="content-title-name">"{{ user.nickname }}"님의 마이페이지</div>
            </div>
                            <!-- 오른쪽 페이지 구성 -->
            <div class="box content-box">
              <div class="scroll-box">
                <div class="box-title">프로필 수정</div>
                <br />
                <br />
                <br />
                <br />
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">저장</button>
                  </form>
                
                
              </div>
            </div>
          </div>
                    <!-- 메뉴 버튼 구성 요소-->
                    {% include "mypage/menu.html" %}

        </div>
      </div>
    </div>
  </body>
</html>
```