      <!-- 메뉴 버튼 구성 요소-->
      <div class="menu-container">
        <a href="{% url 'common:mypage' nickname=master.nickname %}">홈</a>
        <a href="{% url 'common:mylist' nickname=master.nickname %}">찜</a>
        <a href="{% url 'common:reviews' nickname=master.nickname %}">활동</a>
        <a href="{% url 'common:note' nickname=master.nickname %}">방명록
        </a>
        <!-- mypage ID와 접속하고 있는 사용자가 같은 경우-->
        {% if writer.id == master.id %}
          <a href="{% url 'common:edit' nickname=master.nickname %}">설정</a>
        {% endif %}
      </div>