{% load static %}
<!-- Navbar -->
{% include "navbar/navbar1.html" %}
.
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>My page</title>
  	<link rel="stylesheet" href="{% static 'font.css' %}">
   <link rel="stylesheet" href="{% static 'mypage.css' %}">
	  <script src="https://kit.fontawesome.com/e8d8cefab4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="bookcover">
      <div class="bookdot">
        <div class="page">

                    <!-- 왼쪽 프로필 페이지 구성요소 -->
                    {% include "mypage/profile.html" %}


          <div class="content-container">
                            <!-- 오른쪽 페이지 상단 글씨  -->
            <div class="header content-title">
              <div class="content-title-name">"남도일"님의 마이페이지</div>
            </div>
                            <!-- 오른쪽 페이지 구성 -->
            <div class="box content-box">
              <div class="scroll-box">
                <div class="box-title">여기에 무엇을 넣어야할까 ㅎㅎ</div>
                <div class="box-right-flex">
                  <div class="box-right">
                    <div class="box-row">
                      <div class="news-category category-pic">사진첩</div>
                      <div class="news-title">나보러 왔길래 손잡아줌</div>
                    </div>
                    <div class="box-row">
                      <div class="news-category category-post">게시판</div>
                      <div class="news-title">웹코딩이 어렵다면 해봐</div> 
                    </div>
                    <div class="box-row">
                      <div class="news-category category-post">게시판</div>
                      <div class="news-title">사실은 나도 어려워</div>
                    </div>
                    <div class="box-row">
                      <div class="news-category category-pic">사진첩</div>
                      <div class="news-title">같이하자! HTML / CSS</div>
                    </div>
                  </div>
                  <div class="update-box">
                    <div class="menu-row">
                      <div class="menu-item">다이어리<span class="menu-num">0/25</span></div>
                      <div class="menu-item">사진첩<span class="menu-num">0/25</span></div>
                    </div>
                    <div class="menu-row">
                      <div class="menu-item">게시판<span class="menu-num">0/25</span></div>
                      <div class="menu-item">방명록<span class="menu-num">0/25</span></div>
                    </div>
                  </div>
                </div>
                
                <div class="box-title">인생 명작 TOP 5</div>
                  <div class="poster-container">
                    <img class="poster-img" src="/static/images/3.jpeg">
                    <a href="#"><img class="poster-img" src="/static/images/2.jpeg" ></a>
                    <img class="poster-img" src="/static/images/4.jpeg">
                    <img class="poster-img" src="/static/images/4.jpeg">
                    <img class="poster-img" src="/static/images/4.jpeg">
                    <img class="poster-img" src="/static/images/4.jpeg">
                    <img class="poster-img" src="/static/images/4.jpeg">
                    <img class="poster-img" src="/static/images/4.jpeg">
                    <img class="poster-img" src="/static/images/4.jpeg">
                  </div>
                </div>
              </div>
            </div>
                    <!-- 메뉴 버튼 구성 요소-->
                    {% include "mypage/menu.html" %}

        </div>
      </div>
    </div>
  </body>
</html>
```