{% extends 'base_my.html' %}
{% block title %}mypage{% endblock %}
{% load static %}

{% block content %}
<div class="bookcover">
  <div class="bookdot">
    <div class="page">
      <!-- 왼쪽 프로필 페이지 구성요소 -->
      {% include "mypage/profile.html" %}


      <div class="content-container">
        <div class="header content-title">
          <div class="content-title-name">00님의 마이페이지</div>
        </div>

        <div class="box content-box">
          <div class="scroll-box">

              <h3> 여기는 이제 리뷰와 평점</h3>
              
          </div>
          
        </div>
      </div>
      
      <!-- 메뉴 버튼 구성 요소-->
      {% include "mypage/menu.html" %}
    </div>
  </div>
</div>
{% endblock %}