{% extends 'base_my.html' %}
{% block title %}mypage{% endblock %}
{% load static %}
{% block content %}
    <div class="bookcover">
      <div class="bookdot">
        <div class="page">
					<!-- 왼쪽 프로필 페이지 구성요소 -->
          {% include "mypage/profile.html" %}


          <div class="content-container">
            <div class="header content-title">
              <div class="content-title-name">{{ master.nickname }}님의 마이페이지</div>
            </div>

            <div class="box content-box">
              <div class="scroll-box">
                <div class="box-title">{{ master.nickname }}님이 남긴 리뷰<a class="toggle-reviews" href="#">전체보기</a></div>
                <div class="review-container"> 
                  {% for review in reviews %} 
                  <span class="review-text"><a style="font-weight: bold;">{{ review.movie_title }} :</a> {{review.content}}</span>
                  <hr>
                  {% endfor %}
                  <span class="review-text">이거는 진짜 너무 재밌다 저의 인생 명작입니다.</span>
                  <hr>
                  <span class="review-text">이거는 진짜 </span>
                  <hr>
                  <span class="review-text">이거는 진짜 너무 </span>
                  <hr>
                  <span class="review-text">이거는 진짜 너무 재밌다 </span>
                  <hr>
                  <span class="review-text">이거는 진짜 너무 재밌다 저의 </span>
                  <hr>
                  <span class="review-text">이거는 진짜 너무 재밌다 저의 인생 </span>
                  <hr>
                  <span class="review-text">이거는 진짜 너무 재밌다 저의 인생 명작입니다.</span>
                  <hr>
                </div>  
                <br />


                <div class="box-title">{{ master.nickname }}님이 남긴 평점<a class="toggle-votes"><a href="/" id="view-all-votes">전체보기</a></div>
                <div class="card-container-vote">
                  <div class="card">
                    <img class="card-img" src="/static/images/1_2.jpg" alt="영화 포스터">
                    <span class="card-text">스파이더맨</span>
                    <span class="card-text"><a style="color: #96FC72"> ★ </a>4.0</span>
                  </div>
                  <div class="card">
                    <img class="card-img" src="/static/images/2.jpeg" alt="영화 포스터">
                    <span class="card-text">엘라멘탈</span>
                    <span class="card-text"><a style="color: #96FC72"> ★ </a>5.0</span>
                  </div>
                  <div class="card">
                    <img class="card-img" src="/static/images/3.jpeg" alt="영화 포스터">
                    <span class="card-text">범죄도시3</span>
                    <span class="card-text"><a style="color: #96FC72"> ★ </a>5.0</span>
                  </div>
                  <div class="card">
                    <img class="card-img" src="/static/images/4.jpeg" alt="영화 포스터">
                    <span class="card-text">귀공자</span>
                    <span class="card-text">★3.5</span>
                  </div>
                  <div class="card">
                    <img class="card-img" src="/static/images/5.jpeg" alt="영화 포스터">
                    <span class="card-text">인디아나존스</span>
                    <span class="card-text">★3.0</span>
                  </div>
                  <div class="card">
                    <img class="card-img" src="/static/images/6.jpeg" alt="영화 포스터">
                    <span class="card-text">플래시</span>
                    <span class="card-text">★2.5</span>
                  </div>
                  <div class="card">
                    <img class="card-img" src="/static/images/7.jpeg" alt="영화 포스터">
                    <span class="card-text">샤이닝</span>
                    <span class="card-text">★2.0</span>
                  </div>
                  <div class="card">
                    <img class="card-img" src="/static/images/8.jpeg" alt="영화 포스터">
                    <span class="card-text">슬램덩크</span>
                    <span class="card-text">★4.5</span>
                  </div>
                  <div class="card">
                    <img class="card-img" src="/static/images/9.jpeg" alt="영화 포스터">
                    <span class="card-text">트랜스포머</span>
                    <span class="card-text">★4.0</span>
                  </div>
                  
                </div>             
              </div>
              
            </div>
          </div>
          
          <!-- 메뉴 버튼 구성 요소-->
          {% include "mypage/menu.html" %}
        </div>
      </div>
    </div>
{% endblock %}