{% extends 'base.html' %}
{% load static %}

{% block title %}Movie Detail{% endblock %}

{% block content %}
<style>
    .movie-container {
        margin: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        border: 2px solid #FCA472;
        box-shadow: 0px 0px 10px rgba(252, 164, 114, 0.5);
        position: relative;
    }

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url({{ movie.poster_image_url }});
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
    }

    
    .poster-image {
        position: relative;
    }
    
    .poster-image img {
        width: 600px;
        height: 900px;
    }


    .movie-info {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        color: #fff;
    }
    .movie-info h1, .movie-info h3, .movie-info h5 {
        margin: 0;
    }

    .genres {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .genres span {
        margin-right: 10px;
        color: #FCA472;
        font-weight: bold;
    }
    h1, h3, h4 {
        margin-bottom: 5px;
    }
    .section-container {
        margin-top: 20px;
    }

    .red {
        background-color: red;
    }
    
    .blue {
        background-color: blue;
    }
    .green {
        background-color: green;
    }
    .movie-info .rating {
        padding: 5px 10px;
        font-weight: bold;
    }
    
    .movie-info .genres span {
        margin-right: 5px;
    }
    
    .section-container {
        margin-top: 20px;
    }
    .review-list {
        margin-top: 20px;
    }

    .review-item {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
    }

    .review-item h4 {
        margin: 0;
    }

    .review-item p {
        margin: 0;
    }

    /* 리뷰 작성 폼 */
    .review-container {
        margin: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        border: 2px solid #FCA472;
        box-shadow: 0px 0px 10px rgba(252, 164, 114, 0.5);
        position: relative;
    }

    .review-form {
        margin-top: 20px;
    }

    .review-form label {
        display: block;
        margin-bottom: 5px;
    }

    .review-form textarea {
        width: 100%;
        height: 100px;
    }

    .review-form button {
        margin-top: 10px;
    }


    .movie-rating {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px;
        color: #fff;
        text-align: center; /* 가운데로 배치 */
    }
    .movie-rating h8,
    .movie-info h6,
    .movie-info h7 {
        margin: 0;
    }
</style>


<!-- 영화정보관련 -->

<div class="movie-container">
    <div class="background-image"></div>
    <div class="poster-image">
        <img src="{{ movie.poster_image_url }}" alt="Movie Poster">
    </div>
        <div class="movie-info">
            <h1>{{ movie.title_kr }}</h1>
            <div>
                {% if user.is_authenticated %}
                    {% if added_to_list %}
                        <p>영화가 목록에 추가되었습니다.</p>
                        <form method="post" action="{% url 'mlist:add_to_mylist' id=movie.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="added_to_list" value="False">
                            <input type="submit" value="이미찜">
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'mlist:add_to_mylist' id=movie.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="added_to_list" value="True">
                            <input type="submit" value="찜하기">
                        </form>
                    {% endif %}
                {% else %}
                    <p>영화를 목록에 추가하려면 로그인하세요.</p>
                {% endif %}
            </div>
        
            <div style="display: inline;">
                <h3 style="display: inline;">{{ movie.title_En }}</h3>
                <h5 style="display: inline;">
                    <span class="rating {% if movie.rating == 'ALL' %}green{% elif movie.rating == 'ADULT' %}red{% elif movie.rating == 'OVER15' %}blue{% endif %}">
                        {{ movie.rating }}
                    </span>
                    · {{ movie.released_At }}
                </h5>
            </div>
            <div class="genres">
                {% for genre in movie.genres %}
                    <span>#{{ genre }}</span>
                {% endfor %}
            </div>
            <div></div>
            <div class="section-container">
                <h3>작품 개요</h3>
                <h4>{{ movie.synopsis }}</h4>
            </div>




            <div class="movie-rating">
                <form method="post" action="{% url 'mlist:movie_rating' movie.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="movie_title_{{ movie.id }}" value="{{ movie.title }}">
                    <div style="display: flex; flex-direction: column;">
                        <!-- 영화 정보를 포함하는 div 태그 -->
                        <div>
                            {{ movie.title }}
                        </div>
                        <!-- 별점 div -->
                        <h4>{{ movie.title_kr }}에 대한 평점을 남겨주세요.</h4>
                        <div class="rate">
                            {% with forloop.counter as movie_id %}
                            <input type="radio" id="rating10_{{ movie_id }}" name="rating_{{ movie_id }}" value="5"><label for="rating10_{{ movie_id }}" title="5.0점"></label>
                            <input type="radio" id="rating9_{{ movie_id }}" name="rating_{{ movie_id }}" value="4.5"><label class="half" for="rating9_{{ movie_id }}" title="4.5점"></label>
                            <input type="radio" id="rating8_{{ movie_id }}" name="rating_{{ movie_id }}" value="4"><label for="rating8_{{ movie_id }}" title="4.0점"></label>
                            <input type="radio" id="rating7_{{ movie_id }}" name="rating_{{ movie_id }}" value="3.5"><label class="half" for="rating7_{{ movie_id }}" title="3.5점"></label>
                            <input type="radio" id="rating6_{{ movie_id }}" name="rating_{{ movie_id }}" value="3"><label for="rating6_{{ movie_id }}" title="3.0점"></label>
                            <input type="radio" id="rating5_{{ movie_id }}" name="rating_{{ movie_id }}" value="2.5"><label class="half" for="rating5_{{ movie_id }}" title="2.5점"></label>
                            <input type="radio" id="rating4_{{ movie_id }}" name="rating_{{ movie_id }}" value="2"><label for="rating4_{{ movie_id }}" title="2.0점"></label>
                            <input type="radio" id="rating3_{{ movie_id }}" name="rating_{{ movie_id }}" value="1.5"><label class="half" for="rating3_{{ movie_id }}" title="1.5점"></label>
                            <input type="radio" id="rating2_{{ movie_id }}" name="rating_{{ movie_id }}" value="1"><label for="rating2_{{ movie_id }}" title="1.0점"></label>
                            <input type="radio" id="rating1_{{ movie_id }}" name="rating_{{ movie_id }}" value="0.5"><label class="half" for="rating1_{{ movie_id }}" title="0.5점"></label>
                            {% endwith %}
                        </div>
                        <button type="submit">평점 저장</button>
                    </div>
                </form>
            </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addToMyListButton = document.getElementById("add-to-my-list");
        addToMyListButton.addEventListener("click", function() {
          const movieId = this.dataset.movieId;
          const url = `/add_to_mylist/${movieId}/`;
      
          // Use Ajax to send a POST request to the server
          fetch(url, {
            method: "POST",
            headers: {
              "X-CSRFToken": "{{ csrf_token }}", // Include the CSRF token for security
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              // Update the button text and style based on the response
              if (data.status === "added") {
                this.innerText = "Remove from My List";
              } else if (data.status === "removed") {
                this.innerText = "Add to My List";
              }
            })
            .catch((error) => console.error("Error:", error));
        });
      });      
    </script>
<!-- 리뷰 목록 -->


<style>
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
.reviews h1 {
    text-align: center;
    color: white;
  }
  
.container-my-3 {
    margin: 80px;
    justify-content: space-between; 
    gap: 20px;
    padding: 20px;
    border: 2px solid #FCA472;
    box-shadow: 0px 0px 10px rgba(252, 164, 114, 0.5);
    position: relative;
  }

.board-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: auto;
    justify-content: flex-end;
}

.btn-sorting {
        color: red; 
        border-color: #D9DFF5;
        border-width: 1px;
        font-family: 'NanumBarunpen';
    }
.write-review {
        color: #FCA472;
        text-decoration: underline;
    }
.container-recommed-system {
        margin: 80px;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
        border: 2px solid #FCA472;
        box-shadow: 0px 0px 10px rgba(252, 164, 114, 0.5);
        position: relative;
      }
</style>

<div class="container-my-3">
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}

    <div class="btn-sorting" role="group" aria-label="Sorting options">
        <div style="display: flex;">
            <a href="?order=newest" class="btn btn-secondary">최신 순</a>
            <a href="?order=likes" class="btn btn-secondary">좋아요 순</a>
            <a href="?order=rating" class="btn btn-secondary">평점 순</a>
            <a href="?order=comments" class="btn btn-secondary">댓글 많은 순</a>
        </div>
        <div style="margin-left: auto;">
            <a href="{% url 'review:write_review' id=movie.id %}" class="btn btn-secondary">리뷰작성하기</a>
        </div>
    </div>
    <div class="reviews"><div class="reviews h1">
    <h1 style="font-size: 2rem; color: #FCA472;">
        <u>{{ movie.title_kr }}</u> 리뷰를 작성해 주세요
    </h1>
</div>
        {% if reviews %}
            <ul>
            {% for review in reviews %}
                <div class="review box">
                    <div class="content">
                        {{ review.content }}  
                    </div>

                    <h3>작성자: {{ review.user_id }}</h3>
                    {% if review.updated_at and review.updated_at != review.timestamp %}
                        <p>수정일: {{ review.updated_at }}</p>
                    {% else %}
                        <p>작성일: {{ review.timestamp }}</p>
                    {% endif %}
                    <p>리뷰 내용:</p>
                    <p>
                        {% if review.content|length > 30 %}
                            {{ review.content|truncatechars:30 }}
                            <a href="{% url 'review:main_review_detail' review_id=review.pk %}">...더보기</a>
                        {% else %}
                            {{ review.content }}
                            <a href="{% url 'review:main_review_detail' review_id=review.pk %}">상세</a>
                        {% endif %}
                    </p>
                    <hr>
                    <a href="{% url 'review:main_review_detail' review_id=review.pk %}" class="btn btn-primary">
                        댓글 {{ review.comments.count }}
                    </a>
                    <a href="{% url 'review:review_liker1' review_id=review.id  %}" class="btn btn-sm btn-outline-secondary">
                        좋아요 {{ review.liker.count }}
                    </a>
                    {% if request.user == review.user %}
                        <a href="{% url 'review:review_update' review_id=review.id  %}" class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="{% url 'review:review_delete' review_id=review.id  %}" class="btn btn-sm btn-outline-secondary">삭제</a>
                    {% endif %}
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>아직 작성된 리뷰가 없습니다.</p>
        {% endif %}
    </div>
    
</div>



<br><br/>

<div class="container-recommed-system">
</div>
{% csrf_token %}



{% endblock %}