<!-- movie_detail2.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Movie Detail{% endblock %}

{% block content %}
<style>
    .movie-container {
        margin: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: #333;
        padding: 20px;
        border: 2px solid #FCA472;
        box-shadow: 0px 0px 10px rgba(252, 164, 114, 0.5);
    }
    .poster-image {
        flex: 0 0 auto;
    }
    .movie-info {
        flex: 1 1 auto;
        color: #fff;
        word-break: break-word;
    }
    .genres {
        display: flex;
        align-items: center;
    }
    .genres h3 {
        margin-right: 10px;
    }
</style>

<!-- Get movie information -->
<div class="movie-container">
    <div class="poster-image">
        <img src="{{ movie.posterImageUrl }}" alt="Movie Poster" style="width: 600px; height: 900px;">
    </div>
    <div class="movie-info">
        <h1>{{ movie.titleKr }}</h1>
        <div class="genres">
            <h3>Genres: {{ movie.genres|join:", " }}</h3>
        </div>
        <h4>Media Type: {{ movie.mediaType }}</h4>
        <h4>Release Date: {{ movie.releasedAt }}</h4>
        <h4>{{ movie.overview }}</h4>
    </div>
</div>

{% endblock %}