{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
  <div class="row">
    <!-- Movie Section -->
    {% for movie in movies %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4">
          <img class="poster lazyload lazyloaded"
                src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/{{ movie.poster_path }}"
                alt="{{ movie.title }}">
          <div class="card-body text-center">
            <h5 class="card-title">{{ movie.title }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

<!-- Page Buttons -->
{% include 'mlist/paginator_buttons.html' %}
{% endblock %}