{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style-navbar.css' %}">
</head>
<nav>
	<ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link1" href="{% url 'mypage:home' nickname=user.nickname %}">{{ user.nickname }} 님 환영합니다.</a></li>
			<li class="nav-item"><a class="nav-link1" href="{% url 'account_logout' %}">로그아웃</a></li>
        {% else %}
			<li class="nav-item"><a class="nav-link1" href="{% url 'account_login' %}">로그인</a></li>
			<li class="nav-item"><a class="nav-link1" href="{% url 'common:register' %}">회원가입</a></li>
        {% endif %}
        <!-- 추가적인 네비게이션 메뉴 항목들을 이곳에 추가할 수 있습니다 -->
    </ul>
	<div class="nav" style="background: #2C2E34;">
		<a class="nav-logo a-nav" href="{% url 'moochu:main' %}"><img src="{% static 'moochu_logo.png' %}"></a>
		<!--nav/categoty_btn-->
	<div class="navbar">
		<a class="nav-logo a-nav" href="{% url 'moochu:main' %}"><img src="{% static 'moochu_logo.png' %}"></a>
		<ul class="nav-links">
			<li class="nav-item"><a class="a-nav" href="#">Movie</a></li>
			<li class="nav-item"><a class="a-nav" href="#">TV Shows</a></li>
			<li class="nav-item"><a class="a-nav" href="#">What's New</a></li>
			<li class="nav-item"><a class="a-nav" href="{% url 'board:moobo' %}">Board</a></li>
		</ul>
		<ul>
			{% if user.is_authenticated %}
				<li class="nav-item"><a class="nav-link1" href="{% url 'common:mypage' %}">{{ user.username }} 님 환영합니다.</a></li>
				<li class="nav-item"><a class="nav-link1" href="{% url 'account_logout' %}">로그아웃</a></li>
			{% else %}
				<li class="nav-item"><a class="nav-link1" href="{% url 'account_login' %}">로그인</a></li>
				<li class="nav-item"><a class="nav-link1" href="{% url 'common:register' %}">회원가입</a></li>
			{% endif %}
			<!-- 추가적인 네비게이션 메뉴 항목들을 이곳에 추가할 수 있습니다 -->
		</ul>
	</div>
	
</nav>
</html>