{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style-navbar.css' %}">
</head>
<nav>
	<div class="nav" style="background: #2C2E34;">
		<a class="nav-logo" href="#"><img src="{% static 'moochu_logo.png' %}"></a>
		<!--nav/categoty_btn-->
		<ul class="nav-links">
			<li class="nav-item"><a href="#">Movie</a></li>
			<li class="nav-item"><a href="#">TV Shows</a></li>
			<li class="nav-item"><a href="#">What's New</a></li>
			<li class="nav-item"><a href="#">Board</a></li>
		</ul>
	</div>
</nav>
</html>

