{% extends 'base.html' %}

{% block content %}
<style>
    .reviews {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
    }
    .reviews h2 {
        text-align:center;
        color:white;
      }
    #comment-list {
      height: 400px; 
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    #comment-list::-webkit-scrollbar {
      display: none;
    }
</style>


<div class="reviews h2">
    <h2>리뷰 댓글 </h2>
</div>

<div class="reviews">
    <h3>리뷰 작성자: {{ review.user.username }}</h3>
    <p>작성일: {{ review.timestamp }}</p>
    <p>리뷰 내용:</p>
    <p>{{ review.review }}</p>
    <hr>
    <h5>{{ review.comments.count }}개의 답변이 있습니다.</h5>
    <div>
        <ul>
        {% for comment in review.comments.all %}
            <li>{{ comment.content_txt }}</li>
        {% endfor %}
        </ul>
    </div>
    <form action="{% url 'review:write_comment' review.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" id="content" rows="15"></textarea>
        <button type="submit" class="btn btn-primary">작성 완료</button>
    </form>
    <hr>
</div>
    
{% endblock %}





{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function fetchComments() {
            $.ajax({
                url: '{% url "review:fetch_comments" review_id=review.pk %}',
                type: 'GET',
                success: function(data) {
                    var content = '';
                    for(var i = 0; i < data.comments.length; i++) {
                        content += '<p><strong>' + data.comments[i].user + '</strong>: ' + data.comments[i].content + '</p>';
                    }
                    $('#comment-list').html(content);
                },
                complete: function() {
                    setTimeout(fetchComments, 5000);
                }
            });
        }

        $(document).ready(function() {
            fetchComments();
        });

        $("#comment-form").submit(function(event) {
            event.preventDefault();

            $.ajax({
                url: '{% url "review:comment_review" pk=review.id %}',
                type: 'POST',
                data: $(this).serialize(),
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                }, 
                success: function() {
                    $("#comment-form").trigger("reset");
                }
            })
        });
    </script>
{% endblock %}
