{% extends 'base.html' %}

{% block title %}
    리뷰 목록
{% endblock %}


{% block content %}
<style>
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.reviews h1 {
  text-align:center;
  color:white;
}
.box {
    width: 700px;
    height: 400px;
    border: 2px solid #FCA472;
    padding: 20px;
    margin: 50px auto;
    display: block; 
}
</style>

<div class="reviews h1">
<h1>리뷰 목록</h1>
</div>

<div class="container my-3">
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}

<div class="reviews">
{% if reviews %}
    <ul>
    {% for review in reviews %}
        <div class="review box">
            <h3>작성자: {{ review.user.username }}</h3>
            <p>평점: {{ review.vote }}</p>
            <p>작성일: {{review.timestamp }}</p>
            <p>리뷰 내용:</p>
            <p>{{ review.review |truncatechars:30 }}<a href="{% url 'review:main_review_detail' review_id=review.pk %}">...더보기</a></p>
            <hr>
            <a href="{% url 'review:main_review_detail' review_id=review.pk %}" class="btn btn-primary">
                댓글 {{ review.comments.count }}
            </a>
            {% if request.user == review.user %}
                <a href="{% url 'review:review_update' review_id=review.id  %}" 
                class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="{% url 'review:review_delete' review_id=review.id  %}" 
                class="btn btn-sm btn-outline-secondary">삭제</a>
            {% endif %}
        </div>
    {% endfor %}
    </ul>
{% else %}
        <p>아직 작성된 리뷰가 없습니다.</p>
{% endif %}
</div>
</div>

{% endblock %}