{% extends 'base.html' %}

{% block title %}
    리뷰 목록
{% endblock %}

{% block content %}
<h1>리뷰 목록</h1>

<div class="reviews">
    {% for review in reviews %}
        <div class="review-box">
            <h3>{{ review.user.username }} 님이 작성한 리뷰</h3>
            <p>영화: {{ review.movie.title }}</p>
            <p>관람일: {{ review.watched_date }}</p>
            <p>리뷰 내용: {{ review.content|truncatechars:30 }}<a href="{% url 'review:main_review_detail' review_id=review.pk %}">...더보기</a></p>
            <p>작성일: {{ review.timestamp }}</p>
        </div>
    {% empty %}
        <p>아직 작성된 리뷰가 없습니다.</p>
    {% endfor %}
</div>

{% endblock %}
