{% extends 'base.html' %}

{% block content %}
<style>
    .reviews {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
    }
    .reviews h2 {
        text-align:center;
        color:white;
      }
    #comment-list {
      height: 400px; 
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    #comment-list::-webkit-scrollbar {
      display: none;
    }
</style>


<div class="reviews h2">
    <h2>리뷰 댓글 </h2>
</div>


<div class="container my-3">
    {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
        </div>
    {% endif %}
<div class="reviews">
    <h3>리뷰 작성자: {{ review.user.username }}</h3>
    <p>평점: {{ review.movie_rating }}</p>
    {% if review.updated_at and review.updated_at != review.timestamp %}
        <p>수정일: {{ review.updated_at }}</p>
    {% else %}
        <p>작성일: {{ review.timestamp }}</p>
    {% endif %}
    <p>리뷰 내용:</p>
    <p>{{ review.review }}</p>
    <a href="{% url 'review:review_liker2' review_id=review.id  %}" class="btn btn-sm btn-outline-secondary">
        좋아요 {{ review.liker.count }}
    </a>
    {% if request.user == review.user %}
        <a href="{% url 'review:review_update' review_id=review.id  %}" 
        class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="{% url 'review:review_delete' review_id=review.id  %}" 
        class="btn btn-sm btn-outline-secondary">삭제</a>
    {% endif %}
    <hr>
    <h5>{{ review.comments.count }}개의 답변이 있습니다.</h5>

    {% if review.comments.count > 0 %}
        <div class="mt-3">
        {% for comment in review.comments.all %}
            <div class="review">
                <a name="comment_{{ comment.id }}"></a>
                <div class="comment py-2 text-muted">
                    <span class="comment-content" style="white-space: pre-line;"></span>
                    <span class="comment-detail">
                        |   작성자: {{ comment.user }}  |   
                        {% if comment.updated_at and comment.updated_at != comment.timestamp %}
                            <p>| 수정일: {{ comment.updated_at }} |</p>
                        {% else %}
                            <p>| 작성일: {{ comment.timestamp }} |</p>
                        {% endif %}
                           <p>{{ comment.comment_txt }}</p>
                        {% if comment.modify_date %}
                        (수정:{{ comment.modify_date }})
                        {% endif %}
                    </span>
                    {% if request.user == comment.user %}
                        <a href="{% url 'review:comment_update' comment_id=comment.id  %}" 
                        class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="{% url 'review:comment_delete' comment_id=comment.id  %}" 
                        class="btn btn-sm btn-outline-secondary">삭제</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'review:write_comment' review.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" class="btn btn-primary" value="작성 완료">
    </form>
    <hr>
</div>
</div>

    
{% endblock %}
