{% extends 'base.html' %}
{% block title %}Review{% endblock %}
{% load static %}
{% load board_filter %}
{% load hanja_filter %}


{% block content %}
<link rel="stylesheet" href="{% static 'review.css' %}">


<div class="container">
    {% csrf_token %}

    <h2 class="border-bottom py-2"></h2>

    <div class="post-title">
        <div class="image-title-container">
            <div class="image-container">
                {% if movie.posterImageUrl %}
                    <img src="{{ movie.posterImageUrl }}" style="height: 100px;" alt="{{ movie.titleKr }} 포스터">
                {% else %}
                    <img src="{% static 'images/poster.png' %}" style="height: 100px;" alt="기본 사진">
                {% endif %}
            </div>
            {% if movie.titleKr|hanja_style %}
                <div class="title-container">{{ movie.titleKr|hanja_style|safe }}</div> <!-- 한자 부분에 한자용 글꼴 적용 -->
            {% else %}
                <div class="title-container">{{ movie.titleKr|safe }}</div>
            {% endif %}
        </div>
    </div>
    
    

    <div class="info">
        <dl>
            <dt>작성자</dt>
            <dd>{{review.writer}}</dd>
        </dl>
        <dl>
            <dt>작성일</dt>
            <dd>{{review.create_date}}</dd>
        </dl>
        <dl>
            <dt>조회</dt>
            <dd>{{review.n_hit}}</dd>
        </dl>
    </div>

    <!-- 게시판 글 내용 -->
    <div class="content">
        {{ review.content|linebreaksbr|safe }}      <!-- linebreaksbr: enter인식해서 보여줌 -->
    </div>

    <div class="row my-3">
        <div class="d-flex justify-content-between align-items-center">
            <!-- <div class="vote"> 추천 영역
                <a href="#" data-uri="#"
                    class="recommend" data-voted="{{ voted|lower }}" data-is-writer="{{ is_writer|lower }}">
                <img src="{% static 'thumbs_orange.png' %}" style="max-height: 30px;"></a>
                  {{ Review.voter.count }}
            </div> -->
    
            {% if request.user == review.writer %}
            <div class="my-3">
                <a href="{% url 'review:review_edit' review.media_id review.id %}" class="btn btn-sm btn-review1">수정</a>
                <a href="#" class="delete btn btn-sm btn-review1" data-uri="{% url 'review:review_delete' review.id %}">삭제</a>
            </div>
            {% endif %}    
        </div>
    </div>
    


    <h9 class="comment-count">개의 댓글이 있습니다.</h9> <!-- 리뷰에 달린 댓글 갯수 -->

    {% if review.comments.count > 0 %}
        <div class="mt-3">
            {% for comment in review.comments.all %}
            <div class="card my-3" style="border: 1px solid transparent; background-color: transparent;">
                <div class="card-body comment-body">
                    <div class="d-flex justify-content-front">
                        {% if review_comment.modify_date %}
                        <div class="badge badge-comment d-flex align-items-center">
                            <div class="mr-2" style="font-size: 15px;">@{{ review_comment.writer.username }}</div>
                            <div style="color: lightgray;">{{ review_comment.modify_date }} (수정됨)</div>
                        </div>
                        {% else %}
                        
                        <div class="badge badge-comment d-flex align-items-center">
                            <div class="mr-2" style="font-size: 15px;">@{{ review_comment.writer.username }}</div>
                            <div style="color: lightgray;">{{ review_comment.create_date }}</div>
                        </div>
                        
                        {% endif %}
                    </div>
                    <div class="card-text comment-content" style="white-space: pre-line; margin-top: 10px; margin-left: 5px;">{{ Review_comment.content }}</div>
                    {% if request.user == review_comment.writer %}
                    <div class="my-3">
                        <a href="#" class="btn btn-sm btn-board">수정</a>
                        <a href="#" class="delete btn btn-sm btn-board" data-uri="#">삭제</a>
                    </div>
                    {% endif %}
                    </div>
            </div>
            {% endfor %}
            
        </div>
    {% endif %}


    <form action="#" method="post" style="margin-top: 10px;">
    {% csrf_token %}
    <textarea class="comment_text" name="content" id="content" rows="2" required></textarea>
    <input class="btn btn-review" type="submit" value="댓글 작성" style="font-family: 'NanumBarunpen'; margin-bottom: 100px;">
    </form>
</div>


{% endblock %}
{% block script %}
<script type='text/javascript'>
    $(document).ready(function() {
        $(".delete").on('click', function() {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });
        
        $(".recommend").on('click', function() {
            var errorMessage = "";
            if (confirm("정말로 추천하시겠습니까?")) {
                if ($(this).data('voted')) {
                    errorMessage = "이미 추천했습니다.";
                } else if ($(this).data('is-writer')) {
                    errorMessage = "본인 글에는 추천할 수 없습니다.";
                } else {
                    location.href = $(this).data('uri');
                }
            }
            
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    });
</script>
    
    
{% endblock %}