{% extends 'base.html' %}
{% load static %}
{% block title %}모든 리뷰{% endblock %}
{% load review_movie %}
{% load hanja_filter %}
{% block content %}

<link rel="stylesheet" href="{% static 'media_detail.css' %}">
<link rel="stylesheet" href="{% static 'review.css' %}">

<div class="container">
    <div class="d-flex align-items-center" style="font-size: 1.5rem; height: 50px;color:white; font-family: NanumBarunpen; margin-bottom: 10px;">
        <span class="movie-review">
            {% if movie.titleKr|is_hanja %}
                {{ movie.titleKr|hanja_style|safe }}
            {% else %}
                {{ movie.titleKr|safe }}
            {% endif %}  
        </span>&nbsp;의 모든 리뷰
    </div>
    {% if reviews %}
    {% for review in reviews %} 
        <div class="card my-3" style="border: 1px solid transparent; background-color: transparent;">
            <div class="card-body review-body d-flex justify-content-between">
                <div style="width:15%;">
                    <a href="{% url 'moochu:movie_detail' movie_id=review.media_id %}" style="text-decoration: none;">
                        {% if review.media_id %}
                            {% with poster_url="https://storage.googleapis.com/end_moochu/"|add:review.media_id|add:".jpg" %}
                                {% if poster_url|url_exists %}
                                    <img src="{{ poster_url }}" style="height: 200px; margin: auto;" alt="{{ movie.titleKr }}">
                                {% else %}
                                    <img src="{% static 'images/poster.png' %}" style="height: 200px; margin-left: auto;" alt="기본 사진">
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </a>
                </div>
                <div style="width: 85%;">
                    {% if review.modify_date %}
                        <div class="badge badge-review d-flex align-items-center">
                            <div class="mr-2" style="font-size: 15px;"><a class="nickname" href="{% url 'mypage:home' nickname=review.writer.nickname %}">@{{ review.writer.nickname }}</a></div>
                            <div style="color: lightgray;">{{ review.modify_date }} (수정됨)</div>
                        </div>
                    {% else %}
                        <div class="badge badge-review d-flex align-items-center">
                            <div class="mr-2" style="font-size: 15px;"><a class="nickname" href="{% url 'mypage:home' nickname=review.writer.nickname %}">@{{ review.writer.nickname }}</a></div>
                            <div style="color: lightgray;">{{ review.create_date }}</div>
                        </div>
                    {% endif %}
                    <div class="card-text review-content" style="margin-top: 10px; margin-left: 5px;">
                        <a class="review-content" href="{% url 'review:review_detail' movie_id=review.media_id review_id=review.id %}">{{ review.content|linebreaksbr|text_cut|safe }}</a>
                    </div>
                    {% if request.user == review.writer %}
                        <div class="d-flex justify-content-end"> <!-- 수정, 삭제 버튼 오른쪽 정렬 -->
                            <a href="{% url 'review:review_edit' movie.id review.id %}" class="btn btn-sm btn-review1">수정</a>
                            <a href="#" class="delete btn btn-sm btn-review1" data-uri="{% url 'review:review_delete' review.id %}">삭제</a>
                        </div>
                    {% endif %}
                    <div class="my-3">
                        <a href="#" class="btn btn-sm">
                            <img src="{% static 'comment.png' %}" style="max-height: 30px;"> 
                        </a>
                        <a href="#" class="btn btn-sm">
                            <img src="{% static 'thumbs.png' %}" style="max-height: 30px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="card my-3" style="border: 1px solid transparent; background-color: transparent;">
        <div class="card-body review-body">
            <div class="d-flex justify-content-front">
                <h6 style="color:white; font-family: NanumBarunpen;">아직 작성된 리뷰가 없습니다.</h6>
            </div>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}

{% block script %}
<script type='text/javascript'>
    $(document).ready(function() {
        $(".delete").on('click', function() {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });
        
        $(".recommend").on('click', function() {
            var errorMessage = "";
            if (confirm("정말로 추천하시겠습니까?")) {
                if ($(this).data('voted')) {
                    errorMessage = "이미 추천했습니다.";
                } else if ($(this).data('is-writer')) {
                    errorMessage = "본인 글에는 추천할 수 없습니다.";
                } else {
                    location.href = $(this).data('uri');
                }
            }
            
            if (errorMessage) {
                alert(errorMessage);
            }
        });
    });
</script>
    
    
{% endblock %}
