{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>리뷰 댓글 작성 및 목록 보기</h2>
    
    <h3>댓글 목록</h3>
    <div id="comment-list" style="height: 400px; overflow-y: scroll; padding: 1rem; border: 1px solid #ccc;">
        <!-- 댓글이 여기에 추가됩니다. -->
    </div>

    <h3>댓글 작성</h3>
    <form id="comment-form" method="post" enctype="multipart/form-data" style="margin-top: 1rem;">
        {% csrf_token %}
        <div>
            <label for="{{ form.content.id_for_label }}">댓글:</label> <br>
            {{ form.content }}
        </div>
        <button type="submit" style="margin-top: 1rem;">작성 완료</button>
    </form>
</div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function fetchComments() {
            $.ajax({
                url: '{% url "review:fetch_comments" pk=review.id %}',
                type: 'GET',
                success: function(data) {
                    var content = '';
                    for(var i = 0; i < data.comments.length; i++) {
                        content += '<p><strong>' + data.comments[i].user + '</strong>: ' + data.comments[i].content;
                    }
                    $('#comment-list').html(content);
                },
                complete: function() {
                    setTimeout(fetchComments, 5000);
                }
            });
        }

        $(document).ready(function() {
            fetchComments();
        });

        $("#comment-form").submit(function(event) {
            event.preventDefault();

            $.ajax({
                url: '{% url "review:add_comment" pk=review.id %}',
                type: 'POST',
                data: $(this).serialize(),
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                }, 
                success: function() {
                    $("#comment-form").trigger("reset");
                    fetchComments();
                }
            });
        });
    </script>
{% endblock %}
