{% extends 'base.html' %}

{% block title %}
    이 작품, 어떠셨나요?
{% endblock %}

{% block content %}
<h1>이 작품, 어떠셨나요?</h1>

<form method="post" action="{% url 'review:write_review' movie.id %}">
    {% csrf_token %}
    <div>
        <img src="{{ movie.poster }}" alt="{{ movie.title }} 포스터">
        <div>
            <p>{{ movie.title }}</p>
            <p>{{ movie.genre }}</p>
            <p>{{ movie.release_date.year }}</p>
        </div>
    </div>

    <div>
      <label for="{{ form.watched_date.auto_id }}">언제 감상하셨나요?:</label>
      {{ form.watched_date }}
    </div>

    <div>
        <label for="{{ form.content.auto_id }}">간단히 기록하기:</label>
        {{ form.content }}
    </div>

    <button type="submit">작성 완료</button>
</form>

{% endblock %}
