{% extends 'base.html' %}
{% block title %}search{% endblock %}
{% load static %}

{% block content %}
<style>
    .btn-search{
    color:#2C2E34;
    background-color:#96FC72;
    border-color:#96FC72;
    font-family: 'NanumBarunpen';
    }
    .btn-search:hover{
        color:white;
        background-color: #2C2E34;
        font-family: 'NanumBarunpen';
        border: 1px solid #96FC72;
    }
    .input-group {
        width: 50%;
        margin: auto;
        font-family: NanumBarunpen;
  }
</style>


<div class="container">
    <form action="{% url 'search:search' %}" method="GET">
        <div class="input-group">
            <input type="text" class="form-control grayed-input" id="search" name="search" placeholder="검색어를 입력하세요">
            <button class="btn btn-search" type="submit">검색</button>
        </div>
    </form>
</div>
{% endblock %}
