{% extends 'base.html' %}

{% block title %}
Movie List
{% endblock %}

{% block extra_css %}
<style>
    .movie-box {
        border: 1px solid #ccc;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    li {
        list-style-type: none;
    }

    .movie-box, .movie-box a {  /* 글자색 흰색으로 변경 */
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<h1>Movie List</h1>
<div class="movie-container">
    {% for movie in movies %}
        <div class="movie-box">
            <a href="{% url 'review:movie_detail' movie_id=movie.id %}">{{ movie.title }}</a>
            <ul>
                <li>Genre: {{ movie.genre }}</li>
                <li>Release Date: {{ movie.release_date }}</li>
                <li>Director: {{ movie.director }}</li>
                <li>Cast: {{ movie.cast }}</li>
                <li>Synopsis: {{ movie.synopsis }}</li>
                <li>Likes: {{ movie.likes_count }}</li>
                <li>Average Rating: {{ movie.average_rating }}</li>
            </ul>
            <a href="{% url 'review:write_review' movie_id=movie.id %}">Write a Review</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
