{% extends 'base.html' %}
{% block title %}register{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style-login.css'%}">
<link rel="stylesheet" href="{% static '/fonts/font.css'%}">
  <h2 style="color:#96FC72;">회원가입</h2>
  <form class="login" method="POST" action="{% url 'common:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <hr>
    <!-- 사용자오류 표시 -->
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li style="font-size: 14px;"> {{ field }} :{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class ="login-box">
        <div class="form-group">
            <div class="login-font">
                <label>아이디</label>
            </div>
            <input class="form-control" type="text" name="username" placeholder="아이디">
            <div style="display: flex; align-items: center;">
            </div>
        </div>
        {% if form.username.errors %}
             <div class="error-message">
                {{ form.username.errors.as_text }}
              </div>
        {% endif %}
        <div class="register-font">
            <label>비밀번호</label>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password1" placeholder="비밀번호">
        </div>
        <div class="register-font">
            <label>비밀번호 확인</label>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password2" placeholder="비밀번호 확인">
        </div>
        <div class="register-font">
            <label>닉네임</label>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="nickname" placeholder="닉네임">
        </div>
        <div class="register-font">
            <label for="gender">성별</label>
        </div>
        <div class="form-group">
            <select name="gender" id="gender" class="select">
              <option disabled selected> -- 성별 선택 -- </option>
              <option value="male">남자</option>
              <option value="female">여자</option>
            </select>
          </div>
        <div class="register-font">
            <label>생년월일</label>
        </div>
        <div class="form-group">
            <input class="form-control" type="date" name="birth" >
        </div>
        <div class="register-font">
            <label>이메일</label>
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="email" placeholder="xxxxx@xxxxxx.xxxxx">
          <div style="display: flex; align-items: center;">
          </div>
      </div>   
        <div class="button-group" style="margin-top: 20px;">
            <div><input type="submit" id="btnRegister" value="회원가입" class="register-btn"></div>
        </div>
        <div class="form-group">
            <a class="a-1" href="{% url 'common:login' %}" style="text-align: right; margin-top: 20px;">로그인 화면으로 이동하시겠습니까 ? </a>
        </div>
    </div>
    </hr>
</form>
{% endblock %}
