
/* news-flex-box -> box-right-flex */
.box-right {
  flex: 0 0 auto;
  margin-bottom: 2rem;
  display: flex;
  font-size: 1.3rem;
}

/* news-box -> box-right */
.box-right {
  flex: 1;
}

.update-box {
  flex: 1;
}


.box-title {
  font-family: "KOTRA_BOLD-Bold";
  border-bottom: 1px solid grey;
  color: #3b87ab;
}

/* news-row -> box-row */
.box-row {
  display: flex;
  font-size: 1.3rem;
  margin: 3px 0;
}

.news-category {
  padding: 0 6px;
  margin-right: 6px;
  color: white;
  border-radius: 3px;
}

.category-pic {
  background-color: #f15f5f;
}

.category-post {
  background-color: #617dc1;
}

.menu-row {
  display: flex;
  border-bottom: 1px dashed grey;
  margin: 3px 0;
}

.menu-item {
  flex: 1;
}

.menu-num {
  font-family: "NeoDunggeunmo";
  padding-left: 6px;
  color: #003399;
}

.miniroom-gif-box {
  background-color: mediumturquoise;
  border: 1px solid #808080;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniroom-gif-box > img {
  width: 70%;
}


body {
  background-color: #2C2E34;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 25px;

  /** 기본 폰트 설정 */
  font-family: "Noto Sans KR", sans-serif;
}

.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #738186;
  width: 1400px;
  height: 900px;
  margin: 100px auto;
  position: relative;
}

.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.page {
  background-color: #eeeeee;
  border-radius: 9px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  padding: 15px;
}
.profile-title {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  flex: 0.4;
  margin-right: 1.5rem;

  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.menu-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  
}

.menu-container > a {
  padding: 6px;
  margin: 6px 0;
  background-color: #3b87ab;
  border-bottom-right-radius: 6px; /* 우측 하단 border-radius 적용 */
  border-top-right-radius: 6px; /* 우측 상단 border-radius 적용 */
  border: 1px solid #617dc1;
  color: white;
  text-decoration: none;
  font-family: "NeoDunggeunmo";
  font-size: 1.5rem;
}

.menu-container > a:hover {
  background-color: #617dc1;
}


.header {
  flex: 0.1;
}
.profile-dropdown {
  flex: 0;
  border: 1px solid #c9d4da;
  padding: 5px;
  margin-top: 10px;
  font-size: 1rem;
  position: relative;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 5px solid #838383;
}

.profile-dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dropdown-content > a {
  display: block;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 6px;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.dropdown-content > a:hover {
  background-color: #f1f1f1;
}
.box {
  background-color: white;
  flex: 3;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
}

.color-red {
  color: red;
}

.profile-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.profile-image {
  flex: none;
  display: flex;
  justify-content: center;
}

.profile-image-img {
  height:300px; 
  width:200px;
  display: inline-block;
  margin: auto;
}

.profile-text {
  margin-top: 1.5rem;
  font-size: 2rem;
  line-height: 1.7;
  flex: 1;
}

.profile-username {
  flex: 0;
}

.content-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}
.content-title {
  display: flex;
  align-items: center;
}

.content-title-name {
  flex: 1;
}
.poster-img {
  width: 218px;
  height: 316px;
  object-fit: cover;
  margin-right: 10px;
  align-items: center;
}
.poster-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  flex-direction: row;
}
.scroll-box {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: auto;
}

.card {
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  margin-top: 15px;
  display: inline-block; /* 추가 */
  margin-right:27px;
}

.card-img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
}

.card-text {
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 15px;
}






/* 방명록에 해당하는 css */
.content-note{
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  width: 100%;
  flex: 1;
  padding: 0.75rem;
  margin-top:15px;
}
.main-section{
  overflow-y: auto;
}
.guest-note{
  margin-bottom: 1rem;
}
.guest-info{
  height: 2rem;
  background-color: rgb(207, 207, 207);
  padding-left: 1rem;

  display: flex;
  align-items: center;

  font-family: 'NeoDunggeunmo';
}
.span-note{
  color: blue;
  font-weight: bold;
  font-family: 'NeoDunggeunmo';
}
.guest-content{
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
}

.guest-profile{
  border: 1px solid rgb(204, 204, 204);
  height: 200px;
  width: 200px;
  margin-right: 1.25rem;

  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-image{
  width: 200ßpx;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
}


.delete-button {
  padding: 8px 16px;
  background-color: skyblue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  display: flex;
  margin-left: auto;
}


.delete-button:hover {
  background-color: #4caf50;
}
.profile-card {
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 200px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  margin-top: 15px;
  display: inline-block; /* 추가 */
  margin-right:1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-card-text {
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 15px;
}