.nav {
    background-image: none; /* 배경 이미지 제거 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    position: sticky;
    top: 0;
    /* border-bottom: #FCA472 solid 5px; */
    }

.nav-logo img {
    max-height: 80px; /* 이미지의 최대 높이 지정 */
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow: auto;
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-links li {
  /* margin-left: 20px; */
  margin-right: 10px;
}
/* 메뉴(카테고리) 기본 디자인 */
.nav-links a {
  font-family: 'Chonburi';
  color: #96FC72;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 15px;
}

/* 메뉴(카테고리)에 마우스 가져다 댔을 때 변환 모양*/
.nav-links a:hover {
  background-color: #96FC72;
  color: #414141;
}

.nav {
  display: flex;
}

h1 {
    margin-top: 30px;
  }

ul {
  text-align: center;
}

li {
  display: inline-block;
  margin: 50px;
}

/* 로고 기본 모양*/
/* 마이페이지 a 태그랑 겹쳐서 변경 */
.a-nav {  
  font-size: 50px;
  text-decoration: none;
  color: #96FC72;
  padding: 10px 50px;
}

/* 로고에 마우스 가져다 댔을 때 변환 모양*/
a:hover {
  color: #f9f8e3;
}

.nav-link1{
  font-family: 'Chonburi';
  color: #96FC72;
  text-decoration: none;
  font-size: 15px;
}
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}
